
body{
  background-color: #F4F4F4;
}
/* estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

.conteudo {
    position: relative;
  }
  
  .barra-superior {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    background-color: #FFD166;
    color: #000;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 16px 0px #e3e3e3;
  }

.chip {
  font-weight: 510;
  display: inline-block;
  flex: 1;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
}

.chip img {
  float: left;
  margin: 0 0px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 8px;
}

.chip2{
  margin: 10px;
  flex: 0;
  height: 40px;
  width: 42px;
  border-radius: 50%;
  background-color: #F4F4F4;
}

.icone_barra{
  padding: 0 9px;
  font-size: 16px;
  line-height: 50px;
}

.conteudo-principal{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 16px 0px #e3e3e3;
    padding: 15px;

}






.menu-lateral{
  margin: 15px 0px 15px 15px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
  background-color: #FFD166;
  box-shadow: 1px 1px 16px 0px #e3e3e3;

}

.submenu {
    display: none;
}

.submenu.ativo {
    display: block;
}

.selecao_principal{
  padding: 10px;
  font-size: 15px;
}

a{
  text-decoration: none;
  color: #383838;
}

.material-symbols-outlined, a:hover {
  color: #000000;
 }

.selecao_segundario{
  margin: 5px;
  font-size: 13px;
  list-style: none;
}
.material-symbols-outlined{
  position: relative;
  font-size: 27px;
  width: 30px;
  top: 4px;
  color: #202020;
}





/* menu direito */
.menu-direito {
margin: 15px 15px 0px 0px;
 background-color: #fff;
 padding: 10px;
 border-radius: 10px;
 box-shadow: 1px 1px 16px 0px #e3e3e3;
}
.calendar-container {
  flex-grow: 1;
}

.card-container {
  flex-grow: 1;
  border: 1px solid #ECECEC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card {
  background-color: white;
  padding: 0px 10px 10px 10px;
  border: none;
}

.card-titulo {
  font-weight: 510;
  font-size: 20px;
  background-color: #FFD166;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.Materia-name {
  font-size: 13px;
  padding: 5px 5px 5px 0;
  border-radius: 5px;
  margin-bottom: -8px;
}

.professor-name {
  margin-bottom: 0px;
  font-size: 12px;
  color: #555;
  margin-bottom: 2px;
  width: 156px;
}

.Materia-code {
  background-color: #ECECEC;
  color: #9F9F9F;
  padding: 6px 16px;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
  display: inline-block;
}

.nome_codigo{
  margin: 0px;
}

.Materia-time {
  font-weight: bold;
  margin-top: auto;
}

hr{
  margin: 5px;
}

.c-container {
  flex-grow: 1;
  margin: 20px 5px;
}

.p2{
  background-color: #FFEBEC;
  border-radius: 10px;
  margin: 1px;
  border-top: 15px solid #F1676A;
}

.p2-2{
  background-color: #FFFEEC;
  border-radius: 10px;
  margin: 1px;
  border-top: 15px solid #FFD166;
}

.texto_p2{
  text-align: right;
}

.p2-data{
  font-size: 15px;
    padding: 5px 5px 5px 0;
    border-radius: 5px;
    margin-bottom: 1px;
}

@media (max-width: 970px) {
  .menu-lateral, .menu-direito {
    display: none;
  }
}


/*Home*/
.aviso-erro{
  background-color: #f7c9c9;
  border: solid #ff3e3e;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  color: #d90000;
}
.home-noticias{
  margin: 15px;
}

.home-banner{
  margin: 15px 15px 40px 15px;
}

/*Horário*/

.material-icons-outlined{
  background-color: #cfcfcf;
  border-radius: 30px;
  padding: 4px;
  margin: 0 10px;
}

.horario-container{
  display: inline-block;
  border-radius: 5px;
  background-color: #FFFEEC;
  margin: 10px;
}

.horario-titulo{
  font-weight: 510;
  font-size: 20px;
  background-color: #FFD166;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.horario-cabecalho{
 font-size: 12px;
 padding: 5px 10px 0 10px;
 color: #555;
}

.horario-teste{
  font-size: 14px;
  font-weight: 510;
  color: #161616;
}

.teste-p{
  padding: 0 20px 0 20px;
}

.texto-button{
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  font-weight: 510;
  position: absolute;
}

.professores {
  background-color: #f4f4f4a4;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  z-index: 10;
}

.professores .span {
  margin: 5px;
}

.tabela_prof {
  margin: 10px;
}

.tabela_prof th {
  text-align: center!important;
}

.professores span{
  background-color: none;
  justify-content: center;
  align-items: center;
  position: center;
}

.professores h2{
  align-items: center;
  justify-content: center;
}

.professores.hide{
  display: block;
}


/* Calendário */
.calendar-container table {
  border-collapse: separate; /* Remove a junção das bordas das células */
  border-spacing: 10px; /* Adiciona espaçamento entre as células */
  font-size: 12px;
}

td {
  border: none; /* Remove as bordas das células */
  padding: 7px 10px; /* Adiciona espaçamento interno nos números */
  text-align: center;
  color: gray;
}

th.daysOfWeek {
  font-size: 7px;
  padding: 7px 10px;
  color: #333;
}

.today {
  border-radius: 5px;
  color: #fff;
  background-color: #FE275E;/* Altera a cor do dia de hoje para vermelho */
}
.today:hover{
  background: rgb(149,1,1);
  background: linear-gradient(324deg, rgba(149,1,1,1) 16%, rgba(210,98,115,1) 46%, rgba(254,39,94,1) 65%);
}


/* Faltas */
.faltas{
  background-color: #f4f4f4a4;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;

}
.conteudo_falta{
  text-align: inherit;
  width: 400px;
  margin: 5px;
  font-size: 14px;
  font-weight: 510;
}
.conteudo_falta-t{
  text-align: center;
  width: 400px;
  margin: 5px;
  font-size: 14px;
  font-weight: 510;
}

.falta-cabecalho{
  width: 400px;
  font-size: 12px;
  padding: 5px 10px 0 10px;
  color: #555;
 }

:root {
  --bar-color: green; /* Você pode mudar essa cor para outra que você preferir */
}

.progress-container {
  width: 100%;
  height: 10px;
  border-radius: 15px;
  position: relative;
  background-color: #cfcfcf;
}

.progress-bar {
  width: 0%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--bar-color);
}





/* Notas */